{% extends "blog/base.html" %}
 {% block title %}
   <title>About - INSTA LIFE</title> 
 {% endblock %}
{% block content %}
<div class="content-section">
	<h1>About</h1>
	<p>The sole aim of <i>instalife.com</i> is to provide a platform to people for following posts or sharing them.</p>
	<p>It helps connects with new people around the world.</p>
	<p>We are committed to building a better INSTA community by providing a fast and secure platform.</p>
	<p>instalife.com is developed in South Korea.</p>
</div>
{% endblock content %}
